/outputs_v2/
/processed/
/.idea/
/__pycache__/
ChatTTS/__pycache__/
ChatTTS/infer/__pycache__/
ChatTTS/model/__pycache__/
ChatTTS/utils/__pycache__/
ChatTTS/spec_voices/__pycache__/
GPT_SoVITS/AR/__pycache__/
GPT_SoVITS/AR/models/__pycache__/
GPT_SoVITS/AR/modules/__pycache__/
GPT_SoVITS/__pycache__/
GPT_SoVITS/feature_extractor/__pycache__/
GPT_SoVITS/module/__pycache__/
GPT_SoVITS/text/__pycache__/
GPT_SoVITS/text/zh_normalization/__pycache__/
GPT_SoVITS/tools/__pycache__/
GPT_SoVITS/tools/asr/__pycache__/
GPT_SoVITS/tools/i18n/__pycache__/
LLM_AI/__pycache__/
Suno_Bark/__pycache__/
Ext_service/tool/__pycache__/
Coqui_AI/__pycache__/
Coqui_AI/TTS/__pycache__/
Coqui_AI/TTS/config/__pycache__/
Coqui_AI/TTS/encoder/__pycache__/
Coqui_AI/TTS/encoder/models/__pycache__/
Coqui_AI/TTS/encoder/utils/__pycache__/
Coqui_AI/TTS/tts/__pycache__/
Coqui_AI/TTS/tts/configs/__pycache__/
Coqui_AI/TTS/tts/datasets/__pycache__/
Coqui_AI/TTS/tts/layers/__pycache__/
Coqui_AI/TTS/tts/layers/xtts/__pycache__/
Coqui_AI/TTS/tts/models/__pycache__/
Coqui_AI/TTS/tts/utils/__pycache__/
Coqui_AI/TTS/tts/utils/monotonic_align/__pycache__/
Coqui_AI/TTS/utils/__pycache__/
Coqui_AI/TTS/utils/audio/__pycache__/
Suno_Bark/bark/__pycache__/
Suno_Bark/hubert/__pycache__/